.contact
	.title
		padding 5px 0px
		margin-top 25px
		margin-bottom 10px
		border-bottom 2px solid separator
		span
			font-size 1.7em
	.info
		padding 15px
		.text
			font-size 1em
		.text_addres
			padding-top 20px
			font-size 0.9em
	.directly
		padding 15px
		.title
			color negro
			border none
			span
				font-size 1.1em
		.text
			margin-top 8px
			color negro
		.messege
			appearance none
			margin-top 0.5em
			padding-left 6px
			width 100%
			min-height 70px
			max-height 70px
			outline 0
			background none
			border none
			border 1px solid gris
			border-radius 0.25em
			color gris
			font-size 1em
			resize none
			word-wrap break-word
		.input
			appearance none
			margin-top 0.5em
			padding-left 6px
			width 100%
			min-height 35px
			max-height 35px
			outline 0
			border 1px solid gris
			border-radius 0.25em
			color gris
			font-size 1em
		.boton
			appearance none
			border none
			background none
			margin-bottom 1.25em
			cursor pointer
			margin-top 0.3em
			width 4.5em
			height 2.5em
			border-radius 0.25em
			background gris
			color blanco
			&:hover
				opacity 0.9
			&:active
				opacity 0.5