<dc-title></dc-title>
<div layout="row" layout-sm="column" layout-md="column" layout-wrap class="pokeview">
	<div flex="50" flex-sm="100" flex-md="100" class="content_home" flex-order-sm="1" flex-order-md="1" flex-order="1">
		<div layout="row" layout layout-align="center center">
			<div flex="90">
				<div layout="column">
				
					<dc-pokemonname></dc-pokemonname>
					
					<dc-pokemonpicture></dc-pokemonpicture>

					<dc-pokemontabs></dc-pokemontabs>
					
				</div>
			</div>
		</div>
	</div>
	<div flex="50" flex-sm="100" flex-md="100" flex-order-sm="2" flex-order-md="2" flex-order="3" class="content_home">
		<div layout="row" layout layout-align="center center">
			<div flex="90">
				<div data-ng-include data-src="getCurrentTab()"></div>
			</div>
		</div>
	</div>
	<div flex="50" flex-sm="100" flex-md="100" flex-order-sm="3" flex-order-md="3" flex-order="2" data-ng-controller="commentsController">
		<div layout="row" layout layout-align="center center">
			<div flex="90">
				<dc-comments></dc-comments>
			</div>
		</div>
	</div>
</div>