.home
	margin-top 10px
	margin-bottom 60px
	.home-title
		margin-top 20px
		font-size 1.5em
		strong
			text-decoration underline
	.home-information
		margin-left 10px
		text-align justify
	.home-links
		ul
			margin-top 10px
			margin-bottom 0px
			li
				a
					&:link
						color azul-link
						text-decoration none
					&:active
						color azul-link
						text-decoration none
					&:visited
						color azul-link
						text-decoration none
					&:hover
						color rgba(azul-link,0.7)
	.home-feet
		position fixed
		z-index 1000
		bottom 0
		width 100%
		height 60px
		border-top 1px solid gris
		background blanco