<header layout="row" >
    <div flex="50" flex-sm="85" class="logo" layout layout-align="start center">
    	<div layout="row">
    		<div flex="10">
    			<a data-ng-href="#!/" data-ng-click="onClickTab('/home')">
		            <figure>
		                <img ng-src="assets/img/logo.png">   
		            </figure>
		        </a>
    		</div>
    		<div flex class="title" layout layout-align="start center">
    			<strong>PokeFile</strong>
    		</div>
    	</div>
    </div>
    <div flex hide-sm hide-md layout layout-align="end center">
        <dc-menuheader></dc-menuheader>
    </div>
    <div flex hide-gt-md layout layout-align="end center" class="boton_box">
        <div class="boton" layout layout-align="center center" data-ng-click="toggleRight()">
            <i class="mdi mdi-menu icono"></i>
        </div>
    </div>
    <dc-sidenavright></dc-sidenavright>
</header>