font-size     = 16px
gris          = #A3A3A3
blanco        = #FFF
rojo          = #FF1919
negro         = #000
typePokemon   = #898989
separator     = #898989
type-normal   = #a8a878
type-normal-border = #6d6d4e
type-fire = #f08030
type-fire-border = #9c531f
type-fighting = #c03028
type-fighting-border = #7d1f1a
type-water = #6890f0
type-water-border = #445e9c
type-flying = #a890f0
type-flying-border = #6d5e9c
type-grass = #78c850
type-grass-border = #4e8234
type-poison = #a040a0
type-poison-border = #c183c1
type-electric = #f8d030
type-electric-border = #a1871f
type-ground = #e0c068
type-ground-border = #927d44
type-psychic = #f85888
type-psychic-border = #a13959
type-rock = #b8a038
type-rock-border = #786824
type-ice = #98d8d8
type-ice-border = #638d8d
type-bug = #a8b820
type-bug-border = #6d7815
type-dragon = #7038f8
type-dragon-border = #4924a1
type-ghost = #705898
type-ghost-border = #493963
type-dark = #705848
type-dark-border = #49392f
type-steel = #b8b8d0
type-steel-border = #787887
type-fairy = #ee99ac
type-fairy-border = #9b6470
