body
	font-family 'Oswald'
	font-weight 300
	font-size   font-size
	margin      0
	padding     0
	color       icono_text	
	a
		&:link
			color menuleter
			text-decoration none
		&:active
			color menuleter
			text-decoration none
		&:visited
			color menuleter
			text-decoration none