<div flex class="evolutions">
	<div layout="column">
		<div flex class="title">
			<span><strong>Evolutions</strong></span>
		</div>
		<div flex data-ng-repeat="evolution in pokemons.evolution" class="evolution_item">
			<div layout="column">
				<div flex layout layout-align="center center">
					<figure>
						<img src="assets/img/pokemons/{{evolution | lowercase}}.jpg">
					</figure>
				</div>
				<div flex layout layout-align="center center" class="evolution_name">
					<strong>{{evolution}}</strong>
				</div>
				<div flex layout layout-align="center center">
					<i data-ng-hide="$last" class="mdi mdi-arrow-down"></i>
				</div>
			</div>
		</div>
	</div>
</div>