<div flex class="pokedex">
	<div layout="column">
		<div flex class="title">
			<span><strong>Pokedex</strong></span>
		</div>
		<div flex>
			<ul>
				<li>
					<div layout="row">
						<div flex="20"><strong>Type</strong></div>
						<div flex layout layout-align="end center" class="type_pokemon">
							<span data-ng-repeat="type in pokemons.type" class="type-{{type | lowercase}}">{{type}}</span>
						</div>
					</div>
				</li>
				<li>
					<div layout="row">
						<div flex="20"><strong>Height</strong></div>
						<div flex layout layout-align="end center">{{pokemons.height}}</div>
					</div>
					
				</li>
				<li>
					<div layout="row">
						<div flex="20"><strong>Weight</strong></div>
						<div flex layout layout-align="end center">{{pokemons.weight}}</div>
					</div>
					
				</li>
				<li>
					<div layout="column">
						<div flex="20"><strong>Abilities</strong></div>
						<div flex layout layout-align="start center" class="ability_pokemon">
							<ul>
								<li data-ng-repeat="ability in pokemons.abilities">{{ability}}</li>
							</ul>
						</div>
					</div>
					
				</li>
			</ul>
		</div>
	</div>
	
</div>