.pokeview
	.content_home
		.pokemon_name
			margin-bottom 1.25em
			border-bottom 1px solid separator
			h1
				margin 0
				padding 0.31em 0em
				small
					margin-left 0.62em
					color typePokemon
					font-size .7em
			.idpokemon
				width 4em
				padding 0em 0.31em
				border-radius 0.25em
				background rojo
				span
					color blanco
					font-size 1.3em
		.pokemon_picture
			figure
				overflow hidden
				padding 0
				margin 0