<div layout="row" layout-sm="column" layout-md="column">
	<div flex="50" flex-sm="100" flex-md="100" class="content_home">
		<div layout="row" layout layout-align="center center">
			<div flex="90">
				<div layout="column">
					<div flex class="pokemon_name">
						<div layout="row">
							<div flex>
								<h1>
									{{pokemons.name}}
									<small>{{pokemons.species}}</small>
								</h1>
							</div>
							<div flex="10" flex-sm="15" layout layout-align="center center">
								<div class="idpokemon" layout layout-align="center center">
									<span><strong>#{{pokemons.id}}</strong></span>
								</div>
							</div>
						</div>
					</div>
					<div flex class="pokemon_picture" layout layout-align="center center">
						<figure>
							<img src="assets/img/pokemons/{{pokemons.name | lowercase}}.jpg">
						</figure>
					</div>
					<div flex class="pokemon_tab" layout layout-align="center center">
						<ul>
							<li data-ng-class="{search_active_tab: isActiveTab(tab.url)}" data-ng-click="onClickTab(tab)" data-ng-repeat="tab in tabs">
				                {{tab.title}}
				            </li>
						</ul>
					</div>
					<div flex>
						<dc-comments></dc-comments>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div flex="50" flex-sm="100" flex-md="100" class="content_home">
		<div layout="row" layout layout-align="center center">
			<div flex="90">
				<div flex>
					<div data-ng-include data-src="getCurrentTab()"></div>
				</div>
			</div>
		</div>
	</div>
</div>
