<div layout="row" layout layout-align="center center">
	<div flex="95" flex-sm="90" flex-md="90"  class="search_box">
		<div layout="row" layout-sm="column">
			<div flex class="show_count" layout layout-align="start center" layout-align-sm="center center">
				Showing <span><strong data-ng-bind="filtered.length"></strong></span> Pokémons
			</div>
			<div flex class="box_input"  layout layout-align="end center" layout-align-sm="center center">
				<input data-ng-model="search" data-ng-model="search" class="text" type="text" placeholder="Find a pokemons(name, number and type)..."/>
			</div>
			
		</div>
	</div>
</div>