.sidenavright
	position   fixed
	min-width  200px
	max-width  200px
	background rgba(rojo , .9)
	.toolbar_sidenavright
		background rgba(rojo , .0)
		box-shadow none
		min-height 50px
		max-height 50px
	.md-padding
		margin-top 40px
		background rgba(rojo , .0)
		font-size  1.1em
		padding    0
		ul
			margin  0
			padding 0
			text-decoration none
			list-style-type none
			a
				li
					padding 10px 20px
					cursor pointer
					color  blanco
					font-size 1.2em
					&:active
						background rgba(rojo , .8)