.sidenavright
	position   fixed
	min-width  200px
	max-width  200px
	background rgba(menufondo , .9)
	.toolbar_sidenavright
		background rgba(menufondo , .0)
		box-shadow none
		min-height 50px
		max-height 50px
	.md-padding
		margin-left 16px
		background rgba(menufondo , .0)
		font-size  1.1em
		padding    0
		ul
			margin  0
			padding 0
			text-decoration none
			list-style-type none
				li
					padding 10px 20px
					cursor pointer
					color  menuleter
					font-size 1.2em
					&:active
						background rgba(menufondo , .8)