.comments
	margin-top 1.25em
	.comments_botonbox
		.boton
			cursor pointer
			width 9.5em
			height 2.5em
			border 1px solid rojo
			border-radius 0.25em
			background rojo
			color blanco
			&:hover
				opacity 0.9
			&:active
				opacity 0.5
			span
				margin-left 0.5em
				padding 0em 0.5em
				border-radius 0.5em
				background blanco
				color rojo
	.comments_content
		border 1px solid rojo
		border-radius 0.25em
		.title
			height 2.5em
			border 1px solid rojo
			border-top-left-radius 0.25em
			border-top-rigth-radius 0.25em
			background rojo
			color blanco
			span
				padding-left 1em
			.icon
				cursor pointer
				width 1.5em
				height 1.5em
				margin-right 0.5em
				border-radius 50%
				&:hover
					background rgba(negro,0.2)
				&:active
					opacity 0.8
				i
					color blano
		.comment
			appearance none
			margin-top 1.25em
			padding-left 10px
			width 100%
			min-height 70px
			max-height 70px
			outline 0
			border none
			border 1px solid gris
			border-radius 0.25em
			background none
			color gris
			font-size 1em
			resize none
			word-wrap break-word
		.email
			appearance none
			margin-top 1.25em
			padding-left 10px
			width 100%
			min-height 35px
			max-height 35px
			outline 0
			border none
			border 1px solid gris
			border-radius 0.25em
			background none
			color gris
			font-size 1em
			resize none
			word-wrap break-word
		.checkbox
			padding 0.3em 0em
			span
				margin-left 0.5em
				color gris
		.boton
			cursor pointer
			margin-top 0.3em
			width 6.5em
			height 2.5em
			border-radius 0.25em
			background gris
			color blanco
			&:hover
				opacity 0.9
			&:active
				opacity 0.5