.pokemons
	.content_pokemons
		.pokemon_item
			margin-bottom 1em
			padding 10px
			border 1px solid rojo
			border-radius 4px
			&:hover
				cursor pointer
				border 1px solid separator
				border-radius 4px
				opacity 0.7
			&:active
				opacity 0.8
			a
				color negro
			