.pokemons
	.content_pokemons
		.pokemon_item
			margin-bottom 1em
			padding 10px
			border 1px solid rojo
			border-radius 4px
			&:hover
				cursor pointer
				border 1px solid separator
				border-radius 4px
				opacity 0.7
			&:active
				opacity 0.8
			.pokemon_name
				margin-bottom 1.25em
				border-bottom 1px solid separator
				h1
					margin 0
					padding 0.31em 0em
					small
						color typePokemon
						font-size .7em
				.idpokemon
					width 4em
					margin-bottom 15px
					padding 0em 0.31em
					border-radius 0.25em
					background rojo
					span
						color blanco
						font-size 1.3em
			.pokemon_picture
				margin-bottom 0.7em
				padding-bottom 0.7em
				border-bottom 1px solid separator
				figure
					overflow hidden
					width 250px
					height 200px
					margin 0
					padding 0
					img 
						width auto
						height 100%
			.type_pokemon
				span
					margin-left 5px
					padding 0px 5px
					border-radius 3px
					color blanco
				.type-normal
					background-color type-normal
					border solid 1px type-normal-border

				.type-fire
					background-color type-fire
					border solid 1px type-fire-border

				.type-fighting 
					background-color type-fighting 
					border solid 1px type-fighting -border

				.type-water
					background-color type-water
					border solid 1px type-water-border

				.type-flying
					background-color type-flying
					border solid 1px type-flying-border

				.type-grass
					background-color type-grass
					border solid 1px type-grass-border
					
				.type-poison
					background-color type-poison
					border solid 1px type-poison-border

				.type-electric
					background-color type-electric
					border solid 1px type-electric-border

				.type-ground
					background-color type-ground
					border solid 1px type-ground-border

				.type-psychic
					background-color type-psychic
					border solid 1px type-psychic-border

				.type-rock
					background-color type-rock
					border solid 1px type-rock-border

				.type-ice
					background-color type-ice
					border solid 1px type-ice-border

				.type-bug
					background-color type-bug
					border solid 1px type-bug-border

				.type-dragon
					background-color type-dragon
					border solid 1px type-dragonborder

				.type-ghost
					background-color type-ghost
					border solid 1px type-ghost-border

				.type-dark
					background-color type-dark
					border solid 1px type-dark-border

				.type-steel
					background-color type-steel
					border solid 1px type-steel-border

				.type-fairy
					background-color type-fairy
					border solid 1px type-fairy-border