.search_box
	margin-top 1.5em
	margin-bottom 1.5em
	border-bottom 1px solid separator
	.box_input
		input
			margin-bottom 15px
			padding-left 0.63em
			width 80%
			min-height 2.19em
			max-height 2.19em	
			outline 0
			border 1px solid gris
			border-radius 0.25em
			color gris
			font-size 1em
	.show_count
		margin-bottom 15px
		font-size 1.3em
		span
			margin 0em 0.63em
			padding 0.4em 0.5em
			line-height 0.5em
			border-radius 0.63em
			background rojo
			color blanco