.pokemons
	.content_pokemons
		.pokemon_item
			.type_pokemon
				span
					margin-left 5px
					padding 0px 5px
					border-radius 3px
					color blanco
					a
						color blanco
					
				.type-normal
					background-color type-normal
					border solid 1px type-normal-border
					&:hover
						background rgba(type-normal, .8)
					&:active
						background rgba(type-normal, .5)
				.type-fire
					background-color type-fire
					border solid 1px type-fire-border
					&:hover
						background rgba(type-fire, .8)
					&:active
						background rgba(type-fire, .5)
				.type-fighting 
					background-color type-fighting 
					border solid 1px type-fighting -border
					&:hover
						background rgba(type-fighting , .8)
					&:active
						background rgba(type-fighting , .5)
				.type-water
					background-color type-water
					border solid 1px type-water-border
					&:hover
						background rgba(type-water , .8)
					&:active
						background rgba(type-water, .5)
				.type-flying
					background-color type-flying
					border solid 1px type-flying-border
					&:hover
						background rgba(type-flying, .8)
					&:active
						background rgba(type-flying, .5)
				.type-grass
					background-color type-grass
					border solid 1px type-grass-border
					&:hover
						background rgba(type-grass, .8)
					&:active
						background rgba(type-grass, .5)
				.type-poison
					background-color type-poison
					border solid 1px type-poison-border
					&:hover
						background rgba(type-poison, .8)
					&:active
						background rgba(type-poison, .5)
				.type-electric
					background-color type-electric
					border solid 1px type-electric-border
					&:hover
						background rgba(type-electric, .8)
					&:active
						background rgba(type-electric, .5)
				.type-ground
					background-color type-ground
					border solid 1px type-ground-border
					&:hover
						background rgba(type-ground, .8)
					&:active
						background rgba(type-ground, .5)
				.type-psychic
					background-color type-psychic
					border solid 1px type-psychic-border
					&:hover
						background rgba(type-psychic, .8)
					&:active
						background rgba(type-psychic, .5)
				.type-rock
					background-color type-rock
					border solid 1px type-rock-border
					&:hover
						background rgba(type-rock, .8)
					&:active
						background rgba(type-rock, .5)
				.type-ice
					background-color type-ice
					border solid 1px type-ice-border
					&:hover
						background rgba(type-ice, .8)
					&:active
						background rgba(type-ice, .5)
				.type-bug
					background-color type-bug
					border solid 1px type-bug-border
					&:hover
						background rgba(type-bug, .8)
					&:active
						background rgba(type-bug, .5)
				.type-dragon
					background-color type-dragon
					border solid 1px type-dragonborder
					&:hover
						background rgba(type-dragon, .8)
					&:active
						background rgba(type-dragon, .5)
				.type-ghost
					background-color type-ghost
					border solid 1px type-ghost-border
					&:hover
						background rgba(type-ghost, .8)
					&:active
						background rgba(type-ghost, .5)
				.type-dark
					background-color type-dark
					border solid 1px type-dark-border
					&:hover
						background rgba(type-dark, .8)
					&:active
						background rgba(type-dark, .5)
				.type-steel
					background-color type-steel
					border solid 1px type-steel-border
					&:hover
						background rgba(type-steel, .8)
					&:active
						background rgba(type-steel, .5)
				.type-fairy
					background-color type-fairy
					border solid 1px type-fairy-border
					&:hover
						background rgba(type-fairy, .8)
					&:active
						background rgba(type-fairy, .5)