.menu
	font-size 1em
	ul
		text-decoration none
		list-style-type none
		margin-top -18px
		margin-right 20px
		li
			text-align   center
			margin-right 17px
			float        left
			position relative
			.circle
				position absolute
				top 5px
				left -8px
				width 5px
				height 5px
				border-radius 50%
		.menu_active_tab
			border-bottom 4px solid transparent
			.circle
				position absolute
				top 5px
				left -8px
				width 5px
				height 5px
				border-radius 50%
				background blanco