.menu
	font-size 1em
	ul
		text-decoration none
		list-style-type none
		margin-top -18px
		margin-right 20px
		li
			text-align   center
			margin-right 17px
			float        left
		.menu_active_tab
			border-bottom 4px solid icono_text