.evolutions
	margin-bottom 1em
	.title
		padding 0.5em 0em
		border-bottom 1px solid separator
		span
			font-size 1.5em
	.evolution_item
		figure
			width 200px
			height 200px
			img
				width 200px
				height 200px
		.evolution_name
			color rojo
				