.pokedex
	margin-top 1em
	margin-bottom 1.25em
	.title
		padding 0.5em 0em
		border-bottom 1px solid separator
		span
			font-size 1.5em
	ul
		margin  0
		padding 0
		margin-top 1em
		text-decoration none
		list-style-type none
		li
			padding 0.62em 1.25em
			border-radius 0.25em
			border 0.07em solid separator
			font-size 1em
			.ability_pokemon
				ul
					margin  0
					padding 0
					text-decoration disc !important
					list-style-type disc !important
					li
						margin-left 30px !important
						padding 0 !important
						border none !important
						border-radius none !important
						color separator !important
						font-size 1em !important
			.type_pokemon
				span
					margin-left 5px
					padding 0px 5px
					border-radius 3px
					color blanco
				.type-normal
					background-color type-normal
					border solid 1px type-normal-border

				.type-fire
					background-color type-fire
					border solid 1px type-fire-border

				.type-fighting 
					background-color type-fighting 
					border solid 1px type-fighting -border

				.type-water
					background-color type-water
					border solid 1px type-water-border

				.type-flying
					background-color type-flying
					border solid 1px type-flying-border

				.type-grass
					background-color type-grass
					border solid 1px type-grass-border
					
				.type-poison
					background-color type-poison
					border solid 1px type-poison-border

				.type-electric
					background-color type-electric
					border solid 1px type-electric-border

				.type-ground
					background-color type-ground
					border solid 1px type-ground-border

				.type-psychic
					background-color type-psychic
					border solid 1px type-psychic-border

				.type-rock
					background-color type-rock
					border solid 1px type-rock-border

				.type-ice
					background-color type-ice
					border solid 1px type-ice-border

				.type-bug
					background-color type-bug
					border solid 1px type-bug-border

				.type-dragon
					background-color type-dragon
					border solid 1px type-dragonborder

				.type-ghost
					background-color type-ghost
					border solid 1px type-ghost-border

				.type-dark
					background-color type-dark
					border solid 1px type-dark-border

				.type-steel
					background-color type-steel
					border solid 1px type-steel-border

				.type-fairy
					background-color type-fairy
					border solid 1px type-fairy-border
