.stats
	margin-top 0.95em
	margin-bottom 1.25em
	.title
		padding 0.5em 0em
		border-bottom 1px solid separator
		span
			font-size 1.5em
	ul
		margin  0
		padding 0
		margin-top 1em
		text-decoration none
		list-style-type none
		li
			padding 0.62em 1.25em
			border-radius 0.25em
			border 0.07em solid separator
			font-size 1em
			.pokemon_stats
				span
					padding 0px 8px
					border-radius 10px
					background rojo
					color blanco