.stats
	margin-top 1em
	margin-bottom 1.25em
	ul
		margin  0
		padding 0
		text-decoration none
		list-style-type none
		li
			padding 0.62em 1.25em
			border-radius 0.25em
			border 0.07em solid separator
			font-size 1em
			.pokemon_stats
				span
					padding 0px 5px
					border-radius 10px
					background rojo
					color blanco